.c-card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;

  @include mq-down(sm) {
    flex-direction: column;
  }

  &__thumbnail {
    width: 50%;
    height: 100%;

    @include mq-down(sm) {
      width: 100%;
    }

    img {
      object-fit: cover;
      vertical-align: bottom;
      width: 100%;
      height: 471px;

      @include mq-down(md) {
        height: 354px;
      }

      @include mq-down(sm) {
        height: calc(230 / 336 * 100%);
        object-fit: cover;
      }
    }
  }

  &__contents {
    width: 50%;
    background-color: #3c2b1c;
    color: #fff;
    font-family: "M PLUS 1p";
    line-height: 1.2;

    @include mq-down(sm) {
      width: auto;
    }
  }

  &__heading h3 {
    padding-top: calc(60 * 100% / 1353 / 0.5);
    padding-left: 64px;
    font-size: 3.6rem;
    font-weight: 400;

    @include mq-down(md) {
      padding-top: 33px;
      padding-left: 35px;
      font-size: 2rem;
    }
  }

  &__caption h4 {
    padding-top: calc(60 * 100% / 1353 / 0.5);
    padding-left: 63px;
    font-size: 2.4rem;
    font-weight: 400;

    @include mq-down(md) {
      padding-top: 31px;
      padding-left: 35px;
      font-size: 1.6rem;
    }
  }

  &__text p {
    padding-top: calc(22 * 100% / 1353 / 0.5);

    padding-left: 63px;
    padding-right: 63px;
    font-size: 1.6rem;
    font-weight: 300;

    @include mq-down(md) {
      padding-top: 13px;
      padding-left: 35px;
      padding-right: 35px;
    }

    @include mq-down(sm) {
      padding-top: 31px;
    }
  }

  &__button {
    text-align: center;

    a {
      margin-top: calc(60 * 100% / 1353 / 0.5);
      display: block;
      padding: 30px 106px;
      font-size: 1.6rem;
      font-weight: 300;
      background-color: #fff;
      color: #707070;
      border-radius: 38px;
      
      @include mq-down(md) {
        margin-top: calc(45 * 100% / 768 / 0.5);
        padding: 13px 41px;
      }
      
      @include mq-down(sm) {
        margin-top: 40px;
        margin-bottom: calc(40 * 100% / 336 );
      }
    }
  }
}
