.l-container {
  position: relative;
  max-width: 1920px;
  width: auto;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 217px auto 150px;
  grid-template-columns: 1fr minmax(270px, 367px);
}

@include mq-down(md) {
  .l-container {
    display: block;

    overflow: hidden;
  }
}

@include mq-down(sm) {
  .l-container {
    display: block;
  }
}
