.l-main {
  position: relative;
  z-index: 900;
  // width: auto;
  // height: auto;
  // padding-top: 217px;
  max-width: 1553px;
  // margin-left: auto;
  // margin-right: auto;
  // grid-column: 1/3;
  grid-row: 2/3;
  // padding-bottom: 120px;
}

@include mq-down(md) {
  grid-column: 1/3;
}
