.p-top-img {
  position: relative;

  .top-lg-img {
    width: 100%;
    vertical-align: bottom;
    background-color: #000;
  }
  .top-sm-img {
    display: none;
  }
  p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translate(0%, -50%);
    font-family: "M PLUS 1p";
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;

    span {
      vertical-align: middle;
      font-size: 1.6rem;
      color: #fff;
    }
  }

  @include mq-down(sm) {
    .top-lg-img {
      display: none;
    }
    .top-sm-img {
      display: block;
      width: auto;
      height: 100%;
      background-color: #000;
    }
    p {
      left: 25px;
      span{
        position: absolute;
        top:60px;
        left:0px
      }
    }
  }
}
