.p-top-img {
  position: relative;

  .top-lg-img {
    width: 100%;
    vertical-align: bottom;
    background-color: #000;
    @include mq-down(md) {
      display: none;
    }
  }
  .top-md-img {
    display: none;
    @include mq-down(md) {
      display: block;
      width: 100%;
      background-color: #000;
    }
    @include mq-down(sm) {
      display: none;
    }
  }
  .top-sm-img {
    display: none;
    @include mq-down(sm) {
      display: block;
      width: 100%;
      height: 100%;
      background-color: #000;
    }
  }
  p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 80px;
    transform: translate(0%, -50%);
    font-family: "M PLUS 1p";
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    @include mq-down(sm) {
      left: 25px;
      span {
        position: absolute;
        top: 60px;
        left: 0px;
      }
    }

    span {
      vertical-align: middle;
      font-size: 1.6rem;
      color: #fff;
    }
  }
}
